{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

{% assign background_red = '#DB0D15' %}

{% comment %} {% if article.metafields.custom_fields["comedians_details"] != blank %}
  {% assign separator = "|###|" %}
  {% assign comedian_first_name_array = article.metafields.custom_fields["comedian_first_name"] | split: separator %}
  {% assign comic_last_name_array = article.metafields.custom_fields["comic_last_name"] | split: separator %}
  {% assign comedian_excerpt_array = article.metafields.custom_fields["comedian_excerpt"] | split: separator %}
  {% assign fc_keys = article.metafields.custom_fields["comedians_details"] | split: "," %}
  {% for i in fc_keys %}
    {% assign index = i | plus: 0 %}
        {{ comedian_first_name_array[index] }}
        {{ comic_last_name_array[index] }}
        {{ comedian_excerpt_array[index] }}
    
  {% endfor %}
{% endif %} {% endcomment %}

{% if article.metafields.custom_fields["background"] != blank %}
  {% assign separator = "|###|" %}
  {% assign background_image_array = article.metafields.custom_fields["background_image"] | split: separator %}
  {% assign comedian_background_array = article.metafields.custom_fields["comedian_background"] | split: separator %}
  {% assign photo_credit_array = article.metafields.custom_fields["photo_credit"] | split: separator %}
  {% assign fc_keys = article.metafields.custom_fields["background"] | split: "," %}
  <!-- {% for i in fc_keys %}
    {% assign index = i | plus: 0 %}
    {{ comedian_background_array[index] }}
    {{ photo_credit_array[index] }}
    
  {% endfor %} -->
{% endif %}

{% if article.metafields.custom_fields["websites"] != blank %}
      {% assign separator = "|###|" %}
      {% assign website_title_array = article.metafields.custom_fields["website_title"] | split: separator %}
      {% assign facebook_array = article.metafields.custom_fields["facebook"] | split: separator %}
      {% assign twitter_array = article.metafields.custom_fields["twitter"] | split: separator %}
      {% assign instagram_array = article.metafields.custom_fields["instagram"] | split: separator %}
      {% assign fc_keys = article.metafields.custom_fields["websites"] | split: "," %}
      <!-- {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
            {{ website_title_array[index] }}
            {{ facebook_array[index] }}
            {{ twitter_array[index] }}
            {{ instagram_array[index] }}
      {% endfor %} -->
{% endif %}


<article role="article"> 
<section data-section-id="{{ section.id }}" data-section-type="product" id="comedian-hero-row" style="background: url('{{ comedian_background_array[index] }}') no-repeat center center; background-size: cover;">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {% include 'breadcrumbs' %}
  <div class="row center-xs">
    <div class="col-xs-10">
      <h1 class="comedian-title">{{ article.title }}</h1>
    </div>
  </div>
  {% if photo_credit_array[index] != blank  %}
    <p class="xxs-small caption">Photo: {{ photo_credit_array[index] }}</p>
  {% endif %}
</section>
<section id="comedian-content-one">
  <div class="row">
    <div class="col-lg-5 col-lg-offest-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h4 class="section-title">Bio</h4>
      <div class="content-wrap">
        {{ article.content }}
      </div>

      {% if article.metafields.custom_fields["comedians_press"] != blank %}
      <h4 class="section-title press">In Press</h4>
      <ul class="press-comedian-list row start-xs middle-xs">
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              {% assign separator = "|###|" %}
              {% assign press_publication_name_array = article.metafields.custom_fields["press_publication_name"] | split: separator %}
              {% assign press_article_title_array = article.metafields.custom_fields["press_article_title"] | split: separator %}
              {% assign press_link_array = article.metafields.custom_fields["press_link"] | split: separator %}
              {% assign fc_keys = article.metafields.custom_fields["comedians_press"] | split: "," %}
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                  <p class="small">{{ press_publication_name_array[index] }}</p>
                  <p>{{ press_article_title_array[index] }}</p>
                  <p><a href="{{ press_link_array[index] }}" class="inline-link-single red">Read more</a></p>
              {% endfor %}
          </li>
      </ul>
      {% endif %}

    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="product-sidebar">
      <sidebar>
        {% if website_title_array != blank %}
          <h4 class="section-title">Website</h4>
          <p>
            <a href="{{ website_title_array }}" class="inline-link-single red">{{ website_title_array }}</a>
          </p>
        {% endif %}
        
        {% if instagram_array != blank or article.metafields.custom_fields["twitter"] != blank or article.metafields.custom_fields["facebook"] != blank %}    
          {% assign facebook_array = article.metafields.custom_fields["facebook"] | split: separator %}
          {% assign twitter_array = article.metafields.custom_fields["twitter"] | split: separator %}
          {% assign instagram_array = article.metafields.custom_fields["instagram"] | split: separator %}

          <h4 class="section-title networks">Networks</h4>
            <ul class="row social-list">
              {% if article.metafields.custom_fields["facebook"] != blank %}
              <li>
                <a href="{{ article.metafields.custom_fields["facebook"] }}" target="_blank">
                  {% include 'icon-facebook-f' %}
                </a>
              </li>
              {% endif %}
              {% if article.metafields.custom_fields["twitter"] != blank %}
              <li>
                <a href="{{ article.metafields.custom_fields["twitter"] }}" target="_blank">
                  {% include 'icon-twitter' %}
                </a>
              </li>
              {% endif %}
              {% if article.metafields.custom_fields["instagram"] != blank %}
              <li>
                <a href="{{ article.metafields.custom_fields["instagram"] }}" target="_blank">
                  {% include 'icon-instagram' %}
                </a>
              </li>
              {% endif %}
          </ul>
        {% endif %}
        
      </sidebar>
    </div>
  </div>
</section>
<section class="spacing-top-sm spacing-bottom-lg" id="comedians-related">
  {% capture currentOne %}{{ article.title }}{% endcapture %}
  
  <div class="row center-xs">
    <div class="col-xs-10">
      <h1>More Comedians</h1>
    </div>
  </div>

  <div class="row hide-on-tablet">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <ul class="row middle-xs comedian-list main-comedian-list comedian-list">
      {% for article in blogs.comedians.articles %}
        {% if article.title != currentOne %}
          {% if article.metafields.custom_fields["comedians_details"] != blank %}
                  
            {% assign separator = "|###|" %}
            {% assign comedian_first_name_array = article.metafields.custom_fields["comedian_first_name"] | split: separator %}
            {% assign comic_last_name_array = article.metafields.custom_fields["comic_last_name"] | split: separator %}
            {% assign comedian_excerpt_array = article.metafields.custom_fields["comedian_excerpt"] | split: separator %}
            {% assign fc_keys = article.metafields.custom_fields["comedians_details"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
                
              <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 center-xs">
                <div class="inner-wrapper">
                  <div class="inner-image" style="background: {{ background_red }} url('{{ article.image.src | img_url: '500x'}}') no-repeat center center; background-size: cover;"></div>
                  <a href="{{ article.url }}" class="absolute-link"></a>
                  <div class="content">
                    {% include 'icon-comedian-x-white' %}
                    <p class="large">“{{ comedian_excerpt_array[index] }}”</p>
                    {% include 'icon-arrow-right-red-comeidans' %}
                  </div>
                  <div class="name">
                    <p class="large">{{ comedian_first_name_array[index] }} {{ comic_last_name_array[index] }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        {% endif %}
      {%endfor %}  
    </ul>
  {% comment %} </div> {% endcomment %}
  </div>
  </div>

  <div class="row show-on-tablet slider-row">
  {% comment %} main-comedian-list comedian-list {% endcomment %}
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
      {% comment %} <ul class="row middle-xs comedian-list main-comedian-list comedian-list" id="mobile-related-comedians"> {% endcomment %}
      <ul class="row middle-xs comedian-list" id="mobile-related-comedians">
      {% for article in blogs.comedians.articles %}
        {% if article.title != currentOne %}
          {% if article.metafields.custom_fields["comedians_details"] != blank %}
                  
            {% assign separator = "|###|" %}
            {% assign comedian_first_name_array = article.metafields.custom_fields["comedian_first_name"] | split: separator %}
            {% assign comic_last_name_array = article.metafields.custom_fields["comic_last_name"] | split: separator %}
            {% assign comedian_excerpt_array = article.metafields.custom_fields["comedian_excerpt"] | split: separator %}
            {% assign fc_keys = article.metafields.custom_fields["comedians_details"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}

              <li>
                <div class="inner-wrapper">
                  <div class="inner-image" style="background: {{ background_red }} url('{{ article.image.src | img_url: '500x'}}') no-repeat center center; background-size: cover;"></div>
                  <a href="{{ article.url }}" class="absolute-link"></a>
                  <div class="name">
                    <p class="large">{{ comedian_first_name_array[index] }} {{ comic_last_name_array[index] }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        {% endif %}
      {%endfor %}  
    </ul>
  </div>
  </div>

  {% comment %} </div> {% endcomment %}
  {% comment %} </div> {% endcomment %}
  <div class="row center-xs">
    <div class="bws-button-wrapper">
      <a href="/pages/comedians" class="underline-button-double red">All commedians</a>
    </div>
  </div>
</section>

  {% if blog.comments_enabled? %}
    <h3>{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>

    {% paginate article.comments by 5 %}

    <div id="comments">
      {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
        <p class="form-success">
          {% if blog.moderated? and comment.status != 'published' %}
            {{ 'blogs.comments.success_moderated' | t }}
          {% else %}
            {{ 'blogs.comments.success' | t }}
          {% endif %}
        </p>
      {% endif %}

      {% if number_of_comments > 0 %}
        <ul>
          {% comment %}
            Display comment from URL parameters if it is waiting moderation
            We added "comment.id" check to make sure we don't display markup if there are form errors
          {% endcomment %}
          {% if comment and comment.status != 'published' and comment.id != blank %}
            <li id="{{ comment.id }}">
              <div class="rte">
                {{ comment.content }}
              </div>
              {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
              <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
            </li>
          {% endif %}

          {% for comment in article.comments %}
            <li id="{{ comment.id }}">
              <div class="rte">
                {{ comment.content }}
              </div>
              {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
              <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    </div>

    {% endpaginate %}

    {% form 'new_comment', article %}
      <h3>{{ 'blogs.comments.title' | t }}</h3>

      {{ form.errors | default_errors }}

      <label for="CommentAuthor" class="label-hidden">
        {{ 'blogs.comments.name' | t }}
      </label>
      <input type="text"
             name="comment[author]"
             id="CommentAuthor"
             class="{% if form.errors contains 'author' %}input-error{% endif %}"
             placeholder="{{ 'blogs.comments.name' | t }}"
             value="{{ form.author }}"
             autocapitalize="words">

      <label for="CommentEmail" class="label-hidden">
        {{ 'blogs.comments.email' | t }}
      </label>
      <input type="email"
             name="comment[email]"
             id="CommentEmail"
             class="{% if form.errors contains 'email' %}input-error{% endif %}"
             placeholder="{{ 'blogs.comments.email' | t }}"
             value="{{ form.email }}"
             spellcheck="false"
             autocomplete="off"
             autocapitalize="off">

      <label for="CommentBody" class="label-hidden">
        {{ 'blogs.comments.message' | t }}
      </label>
      <textarea
        name="comment[body]"
        id="CommentBody"
        class="{% if form.errors contains 'body' %}input-error{% endif %}"
        placeholder="{{ 'blogs.comments.message' | t }}">
        {{- form.body -}}
      </textarea>

      {% if blog.moderated? %}
        <p>{{ 'blogs.comments.moderated' | t }}</p>
      {% endif %}

      <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
    {% endform %}

  {% endif %}

</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
