<section class="spacing-top-and-bottom-sm" id="cart-section-one">
  <div class="row center-xs">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
      {% comment %} <h1>{{ 'cart.general.title' | t }}</h1> {% endcomment %}
      <h2>Cart</h2>
    </div>
  </div>
  <div class="row spacing-top-xxs">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      
      {% if cart.item_count > 0 %}
        

        <form action="/cart" method="post" novalidate>
          {% comment %} <table class="responsive-table"> {% endcomment %}
            {% comment %} <thead class="small--hide">
              <tr>
                <th colspan="2">{{ 'cart.label.product' | t }}</th>
                <th>{{ 'cart.label.price' | t }}</th>
                <th>{{ 'cart.label.quantity' | t }}</th>
                <th>{{ 'cart.label.total' | t }}</th>
              </tr>
            </thead> {% endcomment %}
            {% comment %} <tbody> {% endcomment %}
            <ul class="product">
              {% for item in cart.items %}

              {% comment %}

              Cart Item Template
              =====================
              The data-label attributes on <td> elements are mobile-friendly
              helpers used for responsive-table labels
              {% endcomment %}
              

                {% comment %} <tr class="responsive-table-row"> {% endcomment %}
                  {% comment %} <td data-label="{{ 'customer.order.product' | t }}"> {% endcomment %}

                    <!-- {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item | img_url: '240x240' | img_tag: item.title }}
                      </a>
                    {% endif %} -->

                  {% comment %} </td> {% endcomment %}
                  {% comment %} <td> {% endcomment %}
                  <li>
                    <div class="item-title">
                    {%- assign property_size = item.properties | size -%}

                      <div class="item-date">
                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% unless p.last == blank %}
                            {% comment %} {{ p.first }}: {% endcomment %}
                            {% include 'icon-calendar-red' %}

                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}" class="small">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}

                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </div>

                      <h4>
                        <a href="{{ item.url }}" class="red">{{ item.product.title }}</a>
                      </h4>

                      <p>
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          <small>{{ 'cart.general.remove' | t }}</small>
                        </a>
                      </p>
                    </div>

                    {% comment %} {% unless item.product.has_only_default_variant %}
                      <p>{{ item.variant.title }}</p>
                    {% endunless %} {% endcomment %}

                    <!-- <p>{{ item.vendor }}</p> -->

                  {% comment %} </td> {% endcomment %}
                  <div data-label="{{ 'cart.label.price' | t }}">
                  {% comment %} <td data-label="{{ 'cart.label.price' | t }}"> {% endcomment %}
                    {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                      {{ item.price | money }}
                      <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                      <s>{{ item.original_price | money }}</s>
                    {% else %}
                      {{ item.price | money }}
                    {% endif %}
                  {% comment %} </td> {% endcomment %}
                  </div>
                  <div class="control">
                    <div class="minus">
                      <a  href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" class="control-minus">{% include 'icon-minus-white' %}</a>
                    </div>
                    <div class="qty cart__qty-input">
                      <span class="medium-up--hide" rv-html="item.quantity">{{ item.quantity }}</span>
                    </div>
                    <div class="plus">
                      <a  href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1" class="control-plus">{% include 'icon-plus-white' %}</a>
                    </div>

                    <div class="number-input" data-label="{{ 'cart.label.quantity' | t }}">
                      <input type="number"
                          name="updates[]"
                          id="updates_{{ item.key }}"
                          value="{{ item.quantity }}"
                          min="0"
                          aria-label="{{ 'cart.general.item_quantity' | t }}">
                    </div>
                  </div>
                  {% comment %} <td data-label="{{ 'cart.label.total' | t }}">
                    {{ item.line_price | money }}
                  </td> {% endcomment %}
                  {% comment %} </div> {% endcomment %}
                </li>

              {% endfor %}
            {% comment %} </tbody> {% endcomment %}
          {% comment %} </table> {% endcomment %}
          </ul>
          {% comment %} </div> {% endcomment %}

          {% comment %} {% if settings.cart_notes_enable %}
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          {% endif %} {% endcomment %}
          <div class="row between-xs subtotal">
            <p>{{ 'cart.general.subtotal' | t }}</p>
            <p>{{ cart.total_price | money }}</p>
          </div>
          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
          {% endif %}
          <p class="notes">{{ 'cart.general.shipping_at_checkout' | t }}</p>
          <div class="row between-xs cart-buttons">
            <div class="bws-button-wrapper submit">
              <div class="bws-button regular-button">
                <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}" class="col-lg-6 col-dm-6 col-sm-6 col-xs-12">
                <span class="text">checkout</span>
                <span class="hover-svg">
                  {% include 'icon-regular-button-hover' %}
                </span>
              </div>
            </div>
          {% comment %} <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}" class="col-lg-6 col-dm-6 col-sm-6 col-xs-12"> {% endcomment %}
            {% comment %} <input type="submit" name="update" value="{{ 'cart.general.update' | t }}" class="col-lg-6 col-dm-6 col-sm-6 col-xs-12"> {% endcomment %}
            <div class="bws-button-wrapper submit update-cart">
              <div class="bws-button regular-button">
                <input type="submit" name="update" value="{{ 'cart.general.update' | t }}" class="col-lg-6 col-dm-6 col-sm-6 col-xs-12">
                <span class="text">Update Cart</span>
                <span class="hover-svg">
                  {% include 'icon-regular-button-hover' %}
                </span>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        <h1>{{ 'cart.general.title' | t }}</h1>

        {% comment %}
        Cart empty state
        {% endcomment %}
        <div class="supports-cookies">
          <p>{{ 'cart.general.empty' | t }}</p>
          <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
        </div>

        {% comment %}
        Cart no cookies state
        ---------------------
        Browser cookies are required to use the cart. If cookies aren't enabled in the
        browser a message is displayed prompting the user to enable them.
        {% endcomment %}
        <div class="supports-no-cookies">
          <p>{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>
