{% paginate collection.products by 12 %}
  <header role="banner">

    {% include 'breadcrumbs' %}
    
    <div class="row center-xs">
      <div class="col-xs-10">
        {% assign lowercase_title = collection.title | downcase %}
        {% if lowercase_title contains 'home' or lowercase_title contains 'featured'  %}
          <h2>Upcoming Shows</h2>
        {% else %}
          <h2>{{ collection.title }}</h2>
        {% endif %}
        {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %}

        {% if collection.all_tags.size > 0 %}
          <ul>
            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
                <li class="active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li>
                  {{ tag | link_to_tag: tag }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </header>

  <section id="collection-section-one">
    <ul class="row schedule-list events-collection-list">
    {% for product in collection.products %}
      <li class="col-xs-12" id="event-{{ forloop.index }}">
        
        <a href="{{ product.url | within: collection }}" class="absolute-link"></a>
        <div class="top">
          <ul class="date row middle-xs">
            <li>{% include 'icon-calendar-red' %}</li>
            <li>
              {% if product.metafields.custom_fields["date"] != blank %} 
                <p class="small">{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
              {% endif %}
            </li>
          </ul>
        

        {% if forloop.index == 5 and product.featured_image != blank %} 
          <div class="background-image" style="background: url('{{ product | img_url: 'x600' }}') no-repeat center center; background-size: cover;"></div>
        {% endif %}

        <h5>{{ product.title }}</h5>

        <ul class="price-and-location row middle-xs">
          <li>
            {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
          </li>
          <li>
            {% include 'icon-small-red-pin' %}
            {% if product.metafields.custom_fields["location"] != blank %}
              {{ product.metafields.custom_fields["location"] }}
            {% endif %}
          </li>
        </ul>

        {% if forloop.index == 5 %} 
          <div class="bws-button-wrapper">
            <a href="{{ product.url | within: collection }}" class="bws-button icon-button red">
              {% include 'icon-ticket' %}
              <span class="text">Add to cart</span>
            </a>
          </div>
        {% else %}
          <a href="{{ product.url | within: collection }}" class="underline-button-double red">View details</a>
        {% endif %}

        {% if forloop.index != 5 %}
          </div>
          <div class="bws-button-wrapper">
            <button data-cart-add="{{ product.variants.first.id }}" data-cart-quantity="1" class="regular-button bws-button">
              <div class="inner-wrapper">
                {% include 'icon-ticket-light' %}
                <span class="text">ADD TO CART</span>
              </div>
            </button>
          </div>
        {% else %}
          </div> {% comment %} end top {% endcomment %}

        {% endif %}

      
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% comment %} <a href="" class="underline-button-double red">View details</a> {% endcomment %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
