{% assign background_red = '#DB0D15' %}

<section class="spacing-top-md" id="home-section-one">
  <div class="row center-xs">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 image-circles-column">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-1.png?v=1579557371" alt="" class="image-circles one">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-2.png?v=1579557371" alt="" class="image-circles two">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/city-image-3.png?v=1580413752" alt="" class="image-circles three">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-11">
      <p class="svg-text">{% include 'text-enjoy' %}</p>
      <h2>Lower Manhattan’s  <span class="behind-red-one">Upscale {% include 'behind-red-one.liquid' %}</span> Comedy  Destination</h2>
      <div class="row center-xs">
        <div class="col-lg-7 col-md-7 col-xs-7 col-xs-12">
          <div class="bws-button-wrapper">
            <a href="/pages/schedule" class="bws-button regular-button large-icon">
              {% include 'icon-ticket-2' %}
              <span class="text">buy tickets</span>
              <span class="hover-svg">
                {% include 'icon-regular-button-hover' %}
              </span>
            </a>
          </div>
          <!-- <p class="small">Have a ticket? <a href="/pages/reservations" class="inline-link-single red">Make a reservation</a></p> -->
          <a href="home-section-two" class="anchor-scroll">
            {% include 'down-arrow-light' %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 image-circles-column">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/home-image-4.png?v=1580415201" alt="" class="image-circles four">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-5.png?v=1579557371" alt="" class="image-circles five">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/home-image-6.png?v=1580415201" alt="" class="image-circles six">
    </div>
  </div>
</section>

<section class="spacing-bottom-xs" id="home-section-two">
  <div class="row center-xs">
    <div class="col-xs-10">
      <h2 class="font-barlow desktop-row"><span class="custom-110">LAUGH</span> YOUR <span class="behind-red-two"><span class="svg-text">{% include 'text-ass' %}</span> {% include 'behind-red-two' %}</span> OFF</h2>
      <h2 class="font-barlow mobile-row-block">Upcoming Shows</h2>
    </div>
  </div>

  <div class="row desktop-row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <ul class="row schedule-list">
        {% for product in collections.home-featured.products limit: 3 %}

          {% if forloop.index == 3 %}
            <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="schedule-item-{{ forloop.index }}">
          {% else %}
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" id="schedule-item-{{ forloop.index }}">
          {% endif %}
            <a href="{{ product.url }}" class="absolute-link"></a>
            <div class="top">
              {% comment %} <div class="top-wrap"> {% endcomment %}
                <ul class="date row middle-xs">
                  <li>{% include 'icon-calendar-red' %}</li>
                  <li>
                    {% if product.metafields.custom_fields["date"] != blank %} 
                      <p class="small">{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
                    {% endif %}
                  </li>
                </ul>

                <h5>{{ product.title }}</h5>

                <ul class="price-and-location row middle-xs">
                  <li class="start-xs middle-xs">
                    <p>{{ product.price | money_without_trailing_zeros }}</p>
                  </li>
                  <li class="start-xs middle-xs">
                    {% include 'icon-small-red-pin' %}
                    {% if product.metafields.custom_fields["location"] != blank %}
                      {{ product.metafields.custom_fields["location"] }}
                    {% endif %}
                  </li>
                </ul>
              {% comment %} </div> {% endcomment %}

              <a href="{{ product.url }}" class="underline-button-double red">
                {% comment %} <span class="text">View details</span> {% endcomment %}
                View Details
              </a>
            </div>

            <form action="/cart/add" method="post" data-cart-submit>
              <div class="bws-button-wrapper">
                <button class="regular-button bws-button js-button" type="submit" {% if product.available == false %}
                  disabled="disabled" {% endif %}>
                  <span data-submit-button-text>
                    {% if product.available %}
                    <div class="inner-wrapper">
                      {% include 'icon-ticket-light' %}
                      <span class="text">ADD TO CART</span>
                      <span class="hover-svg">
                        {% include 'icon-regular-button-hover' %}
                      </span>
                    </div>
                    {% else %}
                    <div class="inner-wrapper">
                      {% include 'icon-ticket-light' %}
                      <span class="text">{{ 'products.product.sold_out' | t }}</span>
                      <span class="hover-svg">
                        {% include 'icon-regular-button-hover' %}
                      </span>
                    </div>
                    {% endif %}
                  </span>
                </button>
              </div>

              <select class="hidden" name="id">
                <option value="{{ product.variants.first.id }}"></option>
              </select>

              <input type="hidden" name="properties[Date]"
                value="{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}" />

              <select name="quantity" class="hidden js-quantity">
                <option>1</option>
              </select>
            </form>
      
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row mobile-row slider-row">
    <div class="col-xs-1 arrow-column">
      <span class="arrow prev disabled"><svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 14L1 7.5L7 1" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/></svg></span>
    </div>
    <div class="col-xs-10">
      <ul class="row schedule-list" id="home-events-section-two-mobile">
        {% for product in collections.home-featured.products limit: 3 %}

          <li id="schedule-item-{{ forloop.index }}">
            <div class="inner-wrap">
            <a href="{{ product.url }}" class="absolute-link"></a>
            <div class="top">
              <ul class="date row middle-xs">
                <li>{% include 'icon-calendar-red' %}</li>
                <li>
                  {% if product.metafields.custom_fields["date"] != blank %} 
                    <p class="small">{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
                  {% endif %}
                </li>
              </ul>

              <h5>{{ product.title }}</h5>

              <ul class="price-and-location row middle-xs">
                <li class="start-xs middle-xs">
                  <p>{{ product.price | money_without_trailing_zeros }}</p>
                </li>
                <li class="start-xs middle-xs">
                  {% include 'icon-small-red-pin' %}
                  {% if product.metafields.custom_fields["location"] != blank %}
                    {{ product.metafields.custom_fields["location"] }}
                  {% endif %}
                </li>
              </ul>

              <a href="{{ product.url }}" class="underline-button-double red">View details</a>
            </div>

            <form action="/cart/add" method="post" data-cart-submit>
              <div class="bws-button-wrapper">
                <button class="regular-button bws-button js-button" type="submit" {% if product.available == false %}
                  disabled="disabled" {% endif %}>
                  <span data-submit-button-text>
                    {% if product.available %}
                    <div class="inner-wrapper">
                      {% include 'icon-ticket-light' %}
                      <span class="text">ADD TO CART</span>
                      <span class="hover-svg">
                        {% include 'icon-regular-button-hover' %}
                      </span>
                    </div>
                    {% else %}
                    <div class="inner-wrapper">
                      {% include 'icon-ticket-light' %}
                      <span class="text">{{ 'products.product.sold_out' | t }}</span>
                      <span class="hover-svg">
                        {% include 'icon-regular-button-hover' %}
                      </span>
                    </div>
                    {% endif %}
                  </span>
                </button>
              </div>

              <select class="hidden" name="id">
                <option value="{{ product.variants.first.id }}"></option>
              </select>

              <input type="hidden" name="properties[Date]"
                value="{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}" />

              <select name="quantity" class="hidden js-quantity">
                <option>1</option>
              </select>
            </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-1 arrow-column">
      <span class="arrow next"><svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/></svg></span>
    </div>
  </div>

  <div class="row center-xs">
    <div class="bws-button-wrapper">
      <a href="/pages/schedule" class="underline-button-double red">More Shows</a>
    </div>
  </div>
</section>

{% section 'subway-map' %}

<section class="spacing-top-sm spacing-bottom-lg" id="home-section-five">
  <div class="row middle-lg middle-md middle-sm start-xs">
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row center-lg center-md center-sm start-xs">
        <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/food-2.png?v=1579729358" alt="pizza" class="col-lg-10 col-md-10 col-sm-10 col-xs-8 col-xs-offset-2">
        <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/food-1.png?v=1579729358" alt="steak and greens" class="col-xs-5">
        <!-- <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/food-3.png?v=1579729358" alt="potatoes" class="col-xs-4"> -->
        <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/home_drinks_3.png?v=1580755478" alt="whiskey drink" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/home_drinks_2.png?v=1580755478" alt="fruity drink" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <p class="custom-80 hide-on-tablet">Eat<span class="color-red">.</span></p>
      <p class="custom-80 hide-on-tablet">Drink<span class="color-red">.</span></p>
      <p class="custom-80 behind-red-two hide-on-tablet">Laugh {% include 'behind-red-three' %}</p>
      <h2 class="show-on-tablet">Food & Drinks</h2>
      <p>Did you know laughing burns 200 calories per hour? We’ll make sure you’re fueled up with the best cuisine of any comedy club in NYC.</p>
      <div class="bws-button-wrapper">
        <a href="http://www.granmorsi.com/menu" target="_blank" class="bws-button icon-button red">
          {% include 'icon-pdf' %}
          <span class="text">view our menu</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="spacing-top-and-bottom-sm" id="home-section-six">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h2>Laugh <span class="behind-red-one">with {% include 'behind-red-four' %}</span> us</h2>
    </div>
  </div>

  <div class="row hide-on-tablet">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <ul class="row center-xs middle-xs comedian-list">

        {% for article in blogs.comedians.articles limit:4 %}

          {% if article.metafields.custom_fields["comedians_details"] != blank %}
                  
            {% assign separator = "|###|" %}
            {% assign comedian_first_name_array = article.metafields.custom_fields["comedian_first_name"] | split: separator %}
            {% assign comic_last_name_array = article.metafields.custom_fields["comic_last_name"] | split: separator %}
            {% assign comedian_excerpt_array = article.metafields.custom_fields["comedian_excerpt"] | split: separator %}
            {% assign fc_keys = article.metafields.custom_fields["comedians_details"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
                
              <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="inner-wrapper">
                  <div class="inner-image" style="background: {{ background_red }} url('{{ article.image.src | img_url: '500x'}}') no-repeat center center; background-size: cover;"></div>
                  <a href="{{ article.url }}" class="absolute-link"></a>
                  <div class="content">
                    {% comment %} {% include 'icon-comedian-x-white' %} {% endcomment %}
                    <p class="large">“{{ comedian_excerpt_array[index] }}”</p>
                    {% include 'icon-arrow-right-red-comeidans' %}
                  </div>
                  <div class="name">
                    <h3>{{ comedian_first_name_array[index] }}</h3>
                    <p class="large color-red">{{ comic_last_name_array[index] }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        {% endfor %}  

      </ul>
    </div>
  </div>

  <div class="row show-on-tablet slider-row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <ul class="row center-xs middle-xs comedian-list" id="home-comedians-mobile-slider">

        {% for article in blogs.comedians.articles limit:4 %}

          {% if article.metafields.custom_fields["comedians_details"] != blank %}
                  
            {% assign separator = "|###|" %}
            {% assign comedian_first_name_array = article.metafields.custom_fields["comedian_first_name"] | split: separator %}
            {% assign comic_last_name_array = article.metafields.custom_fields["comic_last_name"] | split: separator %}
            {% assign comedian_excerpt_array = article.metafields.custom_fields["comedian_excerpt"] | split: separator %}
            {% assign fc_keys = article.metafields.custom_fields["comedians_details"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
                
              <li>
                <div class="inner-wrapper">
                  <div class="inner-image" style="background: {{ background_red }} url('{{ article.image.src | img_url: '500x'}}') no-repeat center center; background-size: cover;"></div>
                  <a href="{{ article.url }}" class="absolute-link"></a>
                  <div class="name">
                    <p class="large">{{ comedian_first_name_array[index] }} {{ comic_last_name_array[index] }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        {% endfor %}  

      </ul>
    </div>
  </div>

  <div class="row center-xs">
    <div class="bws-button-wrapper">
      <a href="/pages/comedians" class="underline-button-double red">More comedians</a>
    </div>
  </div>
</section>
  
<section class="spcing-top-and-bottom-sm" id="home-sections-seven">
  <div class="row center-xs">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 image-cta-one" style="background: url('https://cdn.shopify.com/s/files/1/0307/9746/3685/files/cta-bg.jpg?v=1580762520') no-repeat center center; background-size: cover;">
      
      <h2><span class="custom-110">Enjoy</span><br/> a great night</h2>
      <div class="row center-xs">
        <p class="col-lg-4 col-md-4 col-sm-4 col-xs-8">Classy, spacious comedy club with an upscale Italian menu, including pizza & cocktails.</p>
      </div>
      <div class="bws-button-wrapper">
        <a href="/page/schedule" class="bws-button regular-button large-icon">
          {% include 'icon-ticket-2' %}
          <span class="text">buy tickets</span>
          <span class="hover-svg">
            {% include 'icon-regular-button-hover' %}
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="spacing-top-sm spacing-bottom-lg slider-row" id="home-section-eight">
  <div class="row center-xs">
    <h2>You <span class="behind-red-three">love {% include 'behind-red-five' %}</span> us!</h2>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 arrow-column">
      <span class="arrow prev disabled"><svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 14L1 7.5L7 1" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/></svg></span>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <ul class="row  testimonial-list center-xs top-xs" id="home-slider-one">
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Awesome time !! Comedians are hilarious !! And the pizza tastes amazing. Definitely a great experience !</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/edyrelis_v.png?v=1579795871" alt="Edyrelis V">
            <p class="large">Edyrelis V.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Nice atmosphere and the food was delicious. I really enjoyed the standup as well!</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Tribeca Comedy Lounge was our first official NY comedy club experience and it did not disappoint. Adam Strauss and Vincent James made me die from laughter...I would definitely go back and recommend.</p>
          </div>
        </li>

        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Awesome time !! Comedians are hilarious !! And the pizza tastes amazing. Definitely a great experience !</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/edyrelis_v.png?v=1579795871" alt="Edyrelis V">
            <p class="large">Edyrelis V.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Nice atmosphere and the food was delicious. I really enjoyed the standup as well!</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Tribeca Comedy Lounge was our first official NY comedy club experience and it did not disappoint. Adam Strauss and Vincent James made me die from laughter...I would definitely go back and recommend.</p>
          </div>
        </li>

        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Awesome time !! Comedians are hilarious !! And the pizza tastes amazing. Definitely a great experience !</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/edyrelis_v.png?v=1579795871" alt="Edyrelis V">
            <p class="large">Edyrelis V.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Nice atmosphere and the food was delicious. I really enjoyed the standup as well!</p>
          </div>
        </li>
        <li>
          <div class="inner-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/mary_s.png?v=1579795871" alt="Mary S">
            <p class="large">Mary S.</p>
            {% include 'icon-five-stars' %}
            <p class="small">Tribeca Comedy Lounge was our first official NY comedy club experience and it did not disappoint. Adam Strauss and Vincent James made me die from laughter...I would definitely go back and recommend.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 arrow-column">
      <span class="arrow next"><svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/></svg></span>
    </div>
  </div>
</section>
