<footer>
  <section class="spacing-top-sm" id="footer-section-one">
    <div class="row spacing-bottom-md">
      <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-logo">
        {% include 'tcl-logo' %}
      </div>
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-0 s1">
        <p class="large">Get in Touch</p>
          {% if settings.contact_location_address != blank %}
            <p class="xs-small">{{ settings.contact_location_address }}</p>
          {% endif %}
          {% if settings.contact_general_email != blank %}
            <p class="xs-small">
              <a href="mailt:{{ settings.contact_general_email }}" target="_blank" class="inline-link-single white">{{ settings.contact_general_email }}</a>
            </p>
          {% endif %}
          {% if settings.contact_phone_display != blank and settings.contact_phone_tel != blank %}
            <p class="xs-small">
              <a href="tel:{{ settings.contact_phone_tel }}" target="_blank" class="inline-link-single white">{{ settings.contact_phone_display }}</a>
            </p>
          {% endif %}

          
        <ul class="row social-list">
          {% if settings.social_facebook_link != blank %}
            <li>
              <a href="{{ social_facebook_link }}" target="_blank">
                {% include 'icon-facebook-f' %}
              </a>
            </li>
          {% endif %}

          {% if settings.social_twitter_link != blank %}
            <li>
              <a href="{{ social_twitter_link }}" target="_blank">
                {% include 'icon-twitter' %}
              </a>
            </li>
          {% endif %}

          {% if settings.social_instagram_link != blank %}
            <li>
              <a href="{{ social_instagram_link }}" target="_blank">
                {% include 'icon-instagram' %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 s2">
        <p class="large">Navigation</p>
        <ul class="menu">
          {% for link in linklists.footer.links %}
            <li>
              <a href="{{ link.href }}" class="inline-link-single white">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 s3">
        <p class="large">Tweets</p>
        <div class="elfsight-sapp-bfbcfa67-d976-45ca-8462-bf05fbc55d2c"></div>
      </div>
    </div>
    <div class="row center-xs middle-xs" id="subfooter">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        {% comment %}
        {% if section.settings.show_payment_icons %}
          {% unless shop.enabled_payment_types == empty %}
            <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
            <ul class="payment-icons">
              {% for type in shop.enabled_payment_types %}
                <li>
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </li>
              {% endfor %}
            </ul>
          {% endunless %}
        {% endif %}
        {% endcomment %}
        
      </div>

      <div class="col-lg-5 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <p class="xxs-small ">&copy; {{ 'now' | date: "%Y" }} Tribeca Comedy Lounge. All Rights Reserved. Made With Love in NYC</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="menu row center-xs">
          {% for link in linklists.privacy.links %}
            <li>
              <a href="{{ link.href }}" class="inline-link-single white">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</footer>


