<section data-section-id="{{ section.id }}" data-section-type="product" id="product-hero-row" style="background: url('{{ product | img_url: 'x1200' }}') no-repeat center center; background-size: cover;">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="row middle-xs center-xs">
    <div class="col-xs-12">
      {% include 'breadcrumbs' %}
      <ul class="row center-xs middle-xs event-information">
          {% if product.metafields.custom_fields["date"] != blank %}
            <li>
              <ul class="row middle-xs center-xs">
                <li>{% include 'icon-calendar-red' %}</li>
                <li>
                  <p>{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
                </li>
              </ul>
            </li>
          {% endif %}

          {% if product.metafields.custom_fields["start_time"] != blank and product.metafields.custom_fields["start_time"] != blank %}
            <li>
              <ul class="row middle-xs center-xs">
                <li>{% include 'icon-clock' %}</li>
                <li>
                  <p>{{ product.metafields.custom_fields["start_time"] }} - {{ product.metafields.custom_fields["end_time"] }}</p>
                </li>
              </ul>
            </li>
          {% endif %}

          {% if product.metafields.custom_fields["location"] != blank %}
            <li>
              <ul class="row middle-xs center-xs">
                <li>{% include 'icon-small-red-pin' %}</li>
                <li>
                  <p>{{ product.metafields.custom_fields["location"] }}</p>
                </li>
              </ul>
            </li>
          {% endif %}
      </ul>
    </div>

  </div>
  <div class="row center-xs">
    <div class="col-xs-10">
      <h1 class="product-title">{{ product.title }}</h1>
      <div class="bws-button-wrapper">
        <button data-cart-add="{{ product.variants.first.id }}" data-cart-quantity="1" class="bws-button regular-button red">
          <div class="inner-wrapper">
            {% include 'icon-ticket-light' %}
            <span class="text">ADD TO CART ({{ product.price | money_without_trailing_zeros }})</span>
            <span class="hover-svg">
              {% include 'icon-regular-button-hover' %}
            </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="product-details">
  <div class="row">
    <div class="col-lg-5 col-lg-offest-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h4>Description</h4>
      <div class="content-wrap">
        {{ product.description }}
      </div>
      
      <h4>Comedians list</h4>
      <ul class="event-comedian-list row start-xs middle-xs">
        
          {% if product.metafields.custom_fields["comedians"] != blank %}
            {% assign separator = "|###|" %}
            {% assign name_array = product.metafields.custom_fields["name"] | split: separator %}
            {% assign avatar_array = product.metafields.custom_fields["avatar"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["comedians"] | split: "," %}
            {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
              <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12 start-xs middle-xs">
                <img src="{{ avatar_array[index] }}" alt="">
                <p>{{ name_array[index] }}</p>
              </li>
            {% endfor %}
          {% endif %}

      </ul>
  
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-0" id="product-sidebar">
      <sidebar>
        <ul class="sidebar-list">
          <li>
            <p class="large">{{ product.title }}</p>
          </li>
          <li>
            <p class="small subtitle-gray">{{ product.price | money_without_trailing_zeros }}</p>
          </li>
          <li class="separator"></li>
          <li class="section">

              {% if product.metafields.custom_fields["date"] != blank %}
                  <ul class="row middle-xs start-xs">
                    <li>{% include 'icon-calendar-red' %}</li>
                    <li>
                      <p>{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
                    </li>
                  </ul>

              {% endif %}
    
              {% if product.metafields.custom_fields["start_time"] != blank and product.metafields.custom_fields["start_time"] != blank %}
                  <ul class="row middle-xs start-xs">
                    <li>{% include 'icon-clock' %}</li>
                    <li>
                      <p>{{ product.metafields.custom_fields["start_time"] }} - {{ product.metafields.custom_fields["end_time"] }}</p>
                    </li>
                  </ul>
              {% endif %}
    
              {% if product.metafields.custom_fields["location"] != blank %}
                  <ul class="row middle-xs start-xs">
                    <li>{% include 'icon-small-red-pin' %}</li>
                    <li>
                      <p>{{ product.metafields.custom_fields["location"] }}</p>
                    </li>
                  </ul>
              {% endif %}

          </li>
          <li class="separator">
          <li class="section">
            <p class="small"><label for="control">Quantity:</label></p>
            <div class="control row start-xs middle-xs">
              <div class="minus">
                <a  href="#" data-control="-1" class="js-operator">{% include 'icon-minus-white' %}</a>
              </div>
              <div class="qty cart__qty-input">
                <span class="medium-up--hide js-current">1</span>
              </div>
              <div class="plus">
                <a  href="#" data-control="+1" class="js-operator">{% include 'icon-plus-white' %}</a>
              </div>
            </div>
          </li>
        </ul> 
        
        <form action="/cart/add" method="post" data-cart-submit>
          <div class="bws-button-wrapper">
            <button class="regular-button bws-button js-button" type="submit" {% if product.available == false %}
              disabled="disabled" {% endif %}>
              <span data-submit-button-text>
                {% if product.available %}
                <div class="inner-wrapper">
                  {% include 'icon-ticket-light' %}
                  <span class="text">ADD TO CART</span>
                  <span class="hover-svg">
                    {% include 'icon-regular-button-hover' %}
                  </span>
                </div>
                {% else %}
                <div class="inner-wrapper">
                  {% include 'icon-ticket-light' %}
                  <span class="text">{{ 'products.product.sold_out' | t }}</span>
                  <span class="hover-svg">
                    {% include 'icon-regular-button-hover' %}
                  </span>
                </div>
                {% endif %}
              </span>
            </button>
          </div>

          <select class="hidden" name="id">
            <option value="{{ product.variants.first.id }}"></option>
          </select>

          <input type="hidden" name="properties[Date]"
            value="{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}" />

          <select name="quantity" class="hidden js-quantity">
            <option>1</option>
          </select>
        </form>
      </sidebar>
    </div>
  </div>
</section>

  {% comment %} 
  {% for image in product.images %}
    {% capture wrapper_class %}
      {%- unless featured_image == image -%}
        hide
      {%- endunless -%}
    {% endcapture %}

    {% include 'responsive-image' with
      image: image,
      max_width: 700,
      max_height: 800,
      image_attributes: "data-product-featured-image",
      wrapper_class: wrapper_class,
      wrapper_attributes: "data-product-image-wrapper",
    %}
  {% endfor %} 
  {% endcomment %}

  

  {% if product.images.size > 1 %}
    <ul>
      {% for image in product.images %}
        <li>
          <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
            <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  

</section>




<section class="spacing-top-xs spacing-bottom-sm" id="product-collection">
  <div class="row center-xs">
    <div class="col-xs-10">
      <h2>More Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <ul class="row schedule-list">
        {% for product in collections.home-featured.products limit: 3 %}
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="schedule-item-{{ forloop.index }}">
            <a href="{{ product.url }}" class="absolute-link"></a>
            <div class="top">
              <ul class="date row middle-xs">
                <li>{% include 'icon-calendar-red' %}</li>
                <li>
                  {% if product.metafields.custom_fields["date"] != blank %} 
                    <p class="small">{{ product.metafields.custom_fields["date"] | date: "%B %d, %Y" }}</p>
                  {% endif %}
                </li>
              </ul>

              <h5>{{ product.title }}</h5>

              <ul class="price-and-location row middle-xs">
                <li>
                  <p>{{ product.price | money_without_trailing_zeros }}</p>
                </li>
                <li>
                  {% include 'icon-small-red-pin' %}
                  {% if product.metafields.custom_fields["location"] != blank %}
                    {{ product.metafields.custom_fields["location"] }}
                  {% endif %}
                </li>
              </ul>

              <a href="{{ product.url }}" class="underline-button-double red">View details</a>
            </div>
            <div class="bws-button-wrapper">
              <button data-cart-add="{{ product.variants.first.id }}" data-cart-quantity="1" class="regular-button bws-button">
                <div class="inner-wrapper">
                  {% include 'icon-ticket-light' %}
                  <span class="text">ADD TO CART</span>
                </div>
              </button>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row center-xs">
    <div class="bws-button-wrapper">
      <a href="/pages/schedule" class="underline-button-double red">More Shows</a>
    </div>
  </div>
</section>

<script>
  $( document ).ready(function() {
    jQuery('.js-operator').click(function(e){
      e.preventDefault();
      var operator = $(this).data('control');
      var operatorValue = parseInt(operator);
      var current = $('.js-current').text();
      var currentValue = parseInt(current);
      var nextValue = currentValue + operatorValue;
      //console.log(nextValue);
      if (nextValue > 0) {
        $('.js-current').text(nextValue);
        $('.js-quantity option').text(nextValue);
      }
    })
  });

</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
